<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>ALGONOTE</title>
</head>
<!--script시작-->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script><!--Toast ui Viewer-->
<div th:replace="fragments/scripts" :: scripts></div> <!--공통 script-->
<!--script끝-->
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="detail-cover">
    <!--시작-->
    <div th:object="${review}">
        <input type="hidden" th:field="*{id}" readonly/>
        <div class="cover detail-title">
            <h3 th:text="*{title}" readonly></h3>
        </div>

        <hr class="my-3">
        <div th:replace="fragments/toastUi :: viewer"/>
        <hr class="my-3">

        <div type="text" th:field="*{tagText}" th:text="*{tagText}"  class="form-control" readonly></div>
        <br>

<!--        <a th:href="@{/problems/{id}/edit(id=${id})}" class="btn btn-primary" role="button">수정</a>-->
    </div>

    <!--끝-->
    <div th:replace="fragments/footer :: footer"/>
</div>


</body>
</html>