<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<div th:replace="fragments/scripts" :: scripts></div>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div class="container">
    <H3>
      리뷰 조회
    </H3>
    <form th:object="${form}" method="get">
      <div class="form-group">
        <label th:for="title">제목</label>
        <input type="text" th:field="*{title}" class="form-control" disabled>
      </div>
      <div class="form-group">
        <label th:for="contentText">내용</label>
        <input type="text" th:field="*{contentText}" class="form-control" disabled>
      </div>
      <div class="form-group">
        <label th:for="tagText">태그</label>
        <input type="text" th:field="*{tagText}" class="form-control" disabled>
      </div>
      <button type="submit" class="btn btn-primary" disabled>수정</button>
    </form>
  </div>

  <br/>
  <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>