<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="scripts">
  <script src="/js/bootstrap.bundle.js"></script>
  <script src="/js/bootstrap.esm.js"></script>
  <script src="/js/bootstrap.js"></script>

  <!--auto resize text area-->
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="/js/auto-resize-textarea.js"></script>

  <!-- toast ui-->
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>
</div>


