<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>ALGONOTE</title>
</head>
<div th:replace="fragments/scripts" :: scripts></div>
<body>

<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4">Hello, This is AlgoNote!</h1>
        <p class="lead"> 알고리즘 문제 및 풀이를 기록하는<br>알고리즘 문제 풀이 저장소입니다.</p>
        <hr class="my-4">
        <p>The dots will somehow connect in my future!</p>
        <!--        <p class="lead">-->
        <!--            <a class="btn btn-primary btn-lg" href="/problems" role="button">문제 관리</a>-->
        <!--        </p>-->
    </div>
    <!--카드 그룹-->
    <div class="card-group row row-cols-1 row-cols-md-3 g-4">

        <div class="col" th:each="problem : ${problems}">
            <!--카드-->
            <div class="card h-100">
                <div class="card-body" th:onclick="'location.href=\''+ @{/problems/{id}(id=${problem.id})} + '\''">
                    <div class="cover">
                        <h5 class="card-title" th:text="${problem.title}">
                            Problem title</h5>
                        <h6 class="badge bg-secondary" th:text="${problem.getSiteName}"></h6>
                    </div>
                    <p class="card-text" th:text="${problem.tagText}"> 태그,태그2</p>
                    <p class="card-text review">리뷰 쓰기</p>
                </div>
            </div>
        </div>

    </div>

</div>
<div th:replace="fragments/footer :: footer"/>
</div>


</body>
</html>