<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>ALGONOTE</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div class="jumbotron">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div class="container">
    <!--  구글 로그인 시작-->
    <head th:replace="fragments/socialLogin :: socialLogin"/>
    <!--    구글 로그인 끝-->


    <!--            <div th:if="${not #strings.isEmpty(userName)}" class="col-md-2">-->
    <!--                <a href="/posts/save" role="button" class="btn btn-primary float-right">글 등록</a>-->
    <!--            </div>-->


    <!--관리자 페이지-->
    <!--      관리자인 경우에만 접근 가능하도록 수정할 것-->
    <p class="lead">관리 기능</p>
    <p>
      <a class="btn btn-lg btn-dark" role="button" href="/admin">관리자 페이지</a>
    </p>


    <p class="lead">문제 기능</p>
    <p>
      <a class="btn btn-lg btn-dark" href="/problems/new">문제 등록</a>
      <!--      <a class="btn btn-lg btn-dark" href="/problems/id">내 문제 목록</a>-->
    </p>
    <p>
      <a class="btn btn-lg btn-dark" href="/problems">문제 조회</a>
      <!--      <a class="btn btn-lg btn-dark" href="/problems/id">내 문제 목록</a>-->
    </p>

  </div>
  <div th:replace="fragments/footer :: footer"/>
</div>

</div>

</body>
</html>