<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>

  <div class="container">
    <H3>
      문제 조회
    </H3>
    <form th:object="${form}" method="get">
      <div class="form-group">
        <input type="hidden" th:field="*{id}" disabled/>
      </div>
      <label th:for="title">제목</label>
      <input type="text" th:field="*{title}" class="form-control" disabled>
      <div class="form-group">
        <label th:for="url">url</label>
        <input type="url" th:field="*{url}" class="form-control" disabled>
      </div>
      <div class="form-group">
        <label th:for="site">사이트명</label>
        <select th:field="*{site}" class="form-select" disabled>
          <option value=""></option>
        </select>
      </div>
      <div class="form-group">
        <label th:for="contentText">내용</label>
        <input type="text" th:field="*{contentText}" class="form-control" disabled>
      </div>
      <div class="form-group">
        <label th:for="tagText">태그</label>
        <input type="text" th:field="*{tagText}" class="form-control" disabled>
      </div>
      <br>
      <a th:href="@{/problems/{id}/edit(id=${id})}" class="btn btn-primary" role="button">수정</a>
      <a th:href="@{/problems/{id}/reviews/new(id=${id})}" class="btn btn-primary" role="button">리뷰
        등록</a>

    </form>
  </div>
  <br>
  <div class="container" th:if="${form.reviewInfo.size()}">
    <H3>
      리뷰 목록
    </H3>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>제목</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="review : ${form.reviewInfo}">
        <td th:text="${review.key}"></td>
        <td>
          <!--제목          -->
          <a th:href="@{/problems/{problemId}/reviews/{reviewId} (problemId=${form.getId()}, reviewId =${review.key})}"
             th:text="${review.value}"></a>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <br>
  <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>