<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<div th:replace="fragments/scripts" :: scripts></div>
<!--Toast ui Viewer-->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="detail-cover">
    <form th:object="${form}" method="get">
        <input type="hidden" th:field="*{id}" readonly/>
        <div class="cover detail-title">
            <h3 th:text="*{title}" readonly></h3>
            <h6 class="badge bg-secondary" th:text="*{getSiteName}"></h6>
        </div>


        <div class="cover-url" th:if="!*{url == ''}" >
            <img class="icon-url" src="/img/url.png">
            <a class="detail-url" th:text="*{url}" th:href="*{url}" target='_blank' readonly></a>
        </div>

        <hr class="my-3">
        <div th:replace="fragments/toastUi :: viewer"/>
        <hr class="my-3">

        <div type="text" th:field="*{tagText}" th:text="*{tagText}"  class="form-control" readonly></div>
        <br>

        <a th:href="@{/problems/{id}/edit(id=${id})}" class="btn btn-primary" role="button">수정</a>
        <a th:href="@{/problems/{id}/reviews/new(id=${id})}" class="btn btn-primary" role="button">리뷰
            등록</a>

    </form>
    <br>

    <div class="col" th:each="review : ${reviews}"W>

        <div class="card h-100">
            <div class="card-body" th:onclick="'location.href=\''+ @{/reviews/{id}(id=${review.id})} + '\''">
                <div class="cover">
                    <h5 class="card-title" th:text="${review.title}">Problem title</h5>
                </div>
                <p class="card-tag" th:text="${review.tagText}"> 태그,태그2</p>
                <div class="card-date" th:text="${#temporals.format(review.getCreatedDate(), 'yyyy-MM-dd')}"></div>

            </div>
        </div>
    </div>
    <br>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>