<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>

<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div class="container">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>제목</th>
        <th>url</th>
        <th>수정</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="problem : ${problems}">
        <td th:text="${problem.id}"></td>
        <td th:text="${problem.title}"></td>
        <td th:text="${problem.url}"></td>
        <td>
          <a th:href="@{/problems/{id}/edit(id=${problem.id})}" class="btn btn-primary" role="button">수정</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->

</body>
</html>
