<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<div th:replace="fragments/scripts" :: scripts></div>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="detail-cover">


    <div class="category_info">
        <H3>
            검색 결과
        </H3>

        <div th:if='${problemSearch.keyword} != null'>
            <div class="search-result-keyword " th:text='|&#39${problemSearch.keyword}&#39의 검색결과|'></div>
            <div class="search-result-size " th:text='${#lists.size(problemSearch)}'></div>
        </div>


    </div>

    <!--검색 결과 리스트-->
    <div class="card-group row row-cols-1 row-cols-md-1 g-4">

        <div class="col" th:each="problem : ${problems}">
            <!--카드-->
            <div class="card h-100">
                <div class="card-body" th:onclick="'location.href=\''+ @{/problems/{id}(id=${problem.id})} + '\''">
                    <div class="cover">
                        <h5 class="card-title" th:text="${problem.title}">Problem title</h5>
                        <h6 class="badge bg-secondary" th:text="${problem.getSiteName}"></h6>
                    </div>
                    <p class="card-tag" th:text="${problem.tagText}"> 태그,태그2</p>
                    <div class="card-date" th:text="${#temporals.format(problem.getCreatedDate(), 'yyyy-MM-dd')}"></div>

                </div>
            </div>
        </div>

    </div>

    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->

</body>
</html>
