<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<div th:replace="fragments/scripts" :: scripts></div>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <H3>
        문제 검색
    </H3>
    <form class="row gy-2 gx-3 ">
        <div class="col-auto" th:object="${problemSearch}">
            <select th:field="*{site}" class=" form-control ">
                <option value="">사이트</option>
                <option th:each="status : ${T(com.jhr.algoNote.domain.Site).values()}"
                        th:value="${status.code}"
                        th:text="${status.name}"></option>
            </select>
        </div>

        <div class="col-auto" th:object="${problemSearch}">
            <input th:type="text" th:field="*{keyword}" class="form-control " placeholder="검색 내용을 입력하세요">
        </div>

        <div class="col-3 d-flex align-self-end">
            <button type="submit" class="btn btn-primary">검색</button>
        </div>
    </form>

<!--검색 결과-->
    <div class="card-group row row-cols-1 row-cols-md-1 g-4">

        <div class="col" th:each="problem : ${problems}">
            <!--카드-->
            <div class="card h-100">
                <div class="card-body" th:onclick="'location.href=\''+ @{/problems/{id}(id=${problem.id})} + '\''">
                    <div class="cover">
                        <h5 class="card-title" th:text="${problem.title}">Problem title</h5>
                        <h6 class="badge bg-secondary" th:text="${problem.getSiteName}"></h6>
                    </div>
                    <p class="card-tag" th:text="${problem.tagText}"> 태그,태그2</p>
                    <div class="card-date" th:text="${#temporals.format(problem.getCreatedDate(), 'yyyy-MM-dd')}"></div>

                </div>
            </div>
        </div>

    </div>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->

</body>
</html>
